<div class="center hero-unit">
    <h1>Welcome to the Chinese-Meds</h1>

    <h2>
      All you need to know about Chinese medicine right here at
      <a href="http://chinese-meds.com/">Chinese-Meds</a>
    </h2>

    <%= link_to "Get started!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
  <%= link_to image_tag("chinesemeds.jpg", alt: "Chinese Meds"), 'http://chinese-meds.com/' %>